body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.loginbox{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 430px;
    height: 580px;
    padding: 70px 40px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    
}
input{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    
}